@model BayanFinal.Models.UserVM

<div class="login-card">
    <h1>Register</h1><br>
    <form method="post">
        <input type="text" name="UserName" placeholder="Username">
        <input type="text" name="Email" placeholder="Email">
        <input type="text" name="Phone" placeholder="Phone">
        <input type="password" name="Password" placeholder="Password">
        <input type="text" name="FirstName" placeholder="FirstName">
        <input type="text" name="LastName" placeholder="LastName">

        <input type="submit" name="Register" class="login login-submit" value="Register">
    </form>
</div>
<!-- <div id="error"><img src="https://dl.dropboxusercontent.com/u/23299152/Delete-icon.png" /> Your caps-lock is on.</div> -->
<script src='http://codepen.io/assets/libs/fullpage/jquery_and_jqueryui.js'></script>