@model List<BayanFinal.Models.QuestionsVM>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/Questions/Index">Questions And Answer</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/User/Logout">Logout</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <h2>Add Question</h2>

    <input id="Questions" type="text" name="Add Question">
    <button id="btn1" class="btn btn-danger" type="button">Add</button>
</div>
<div class="container">
    <h2>The Questions</h2>
    <div class="list-group qqqq">
        @foreach (var item in Model)
        {
            <a href="/Answers/Index?QuestID=@item.QuestionID" class="list-group-item active">@item.QuestionTitle</a><br>
        }
    </div>
</div>

@section scripts{

    <script>

        $("#btn1").click(function () {

            $.post("/Questions/AddQuestions/",
            {
                Questions: $("#Questions").val(),
            },
            function (data, status) {
                $('.qqqq').append("<a class='list-group-item active' href='/Answers/Index/' " + data + ">" + $("#Questions").val() + "</a><br>")
                $("#Questions").val("");
            });
        });

    </script>
}
